@charset "UTF-8";

div {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    height: 200px;
    width: 200px;

}

/*
# seleciona o id
. formata uma classe
Os : ativam uma pseudoclasse, que fará algo com o estado/ação
:: selecionam pseudoelemento
O > aponta para um elemento child
*/

div#d1:hover {
    background-color: rgb(255, 0, 0);
}

div#d2:hover {
    background-color: rgb(0, 255, 0);
}

div#d3:hover {
    background-color: rgb(0, 0, 255);
}

div#txt {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    height: 200px;
    width: 612px;
    margin-top: 5px;
}

#interna {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    height: 100px;
    width: 512px;
    margin-top: 5px;
}

#interna > p {
    display: none;
}

#interna:hover > p {
    display: block;
}

#lilinks {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(207, 47, 47);
    text-align: left;
    height: 150px;
    width: 512px;
}

li > a {
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

li > a:visited {
    color: rgb(12, 100, 100);
}

li > a:hover {
    color: blueviolet;
}

li > a:active {
    color: black;
}

li > a::after {
    content: '[link]';
    font-weight: lighter;
    font-size: 14px;
}

