@charset "UTF-8";

body {
    font: optional;
}

.bloco {
    background-image: url('../img22/wallpaper003.jpg');
    height: 200px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px;
}

#q1 {
    background-position: left top;
}

#q2 {
    background-position: left center;
}

#q3 {
    background-position: right bottom;
}

#q4 {
    background-position: center center;
}
