@charset "UTF-8";

body {
    background-image: url('../img22/wallpaper001.jpg');
}

.quadrado {
    display: inline-block;
    border: 2px solid black;
    border-radius: 8px;
    background-color: lightgray;
    width: 150px;
    height: 150px;
}

#q1 {
    background-color: skyblue;
}

#q2 {
    background-image: linear-gradient(to bottom, yellow, red);
}

#q3 {
    background-image: url('../img22/pattern003.png');
}